.main-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 30px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

li {
  margin-left: 10px;
  text-decoration: none;
}

.sub-routes {
  margin-left: 0px;
  margin-top: 0px;
}

/* .basket {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
} */
